<app-display-avatar [displayAvatar]="avatarParent"></app-display-avatar>


<div class = "navigationElements">
    <button><img src='assets/images/keyboard_arrow_left-24px.svg' (click)="clickPrevious()" class="arrows"></button>
    <div [ngSwitch]="selectedValue">
        <app-skin-gen *ngSwitchCase="'skin'" (skinEvent)="onSkinSelect($event)"></app-skin-gen>
        <app-eyes-gen *ngSwitchCase="'eyes'"(eyesEvent)="onEyesSelect($event)"></app-eyes-gen>
    </div>
    <button><img src='assets/images/keyboard_arrow_right-24px.svg' (click)="clickNext()" class="arrows"></button>
</div>
<app-skin-gen (skinEvent)="onSkinSelect($event)"></app-skin-gen>
<app-eyes-gen (eyesEvent)="onEyesSelect($event)"></app-eyes-gen>
<app-eyebrows-gen (eyebrowsEvent)="onEyebrowsSelect($event)"></app-eyebrows-gen>
<app-mouths-gen (mouthEvent)="onMouthSelect($event)"></app-mouths-gen>
<app-hairiness-gen (hairinessEvent)="onHairinessSelect($event)"></app-hairiness-gen>
<app-hair-gen (hairEvent)="onHairSelect($event)"></app-hair-gen>
<app-hat-gen (hatEvent)="onHatSelect($event)"></app-hat-gen>
<app-clothes-gen (clothesEvent)="onClotheSelect($event)"></app-clothes-gen>
<app-glasses-gen (glassesEvent)="onGlassesSelect($event)"></app-glasses-gen>

