<!-- <div class="selectedSkin">
    <div *ngFor="let item of avatar">
        <img [src]="item.picture" alt="{{ item.name }}" />
    </div>
</div>-->

<!-- <app-display-avatar [motherfucker]="avatar"></app-display-avatar>

<app-skin-gen (avatarInCreation)="receivedSkin($event)"></app-skin-gen> -->

<app-display-avatar [displayAvatar]="avatarParent"></app-display-avatar>

<app-skin-gen (skinEvent)="onSkinSelect($event)"></app-skin-gen>
<app-eyes-gen (eyesEvent)="onEyesSelect($event)"></app-eyes-gen>
<app-mouths-gen (mouthEvent)="onMouthSelect($event)"></app-mouths-gen>