<div class="top-nav">
  <div>
    <button class="top-nav-btn" (click)="onRandomClicked()"><img src="/assets/Navicon/random.svg" alt="avatar random"></button>
  </div>

  <div>
    <button class="top-nav-btn" (click)="onDownloadClicked()"><img src="/assets/Navicon/save.svg" alt="avatar save"></button>
    <button class="top-nav-btn btn-right" (click)="onCancelClicked()"><img src="/assets/Navicon/close.svg" alt="avatar cancel"></button>
    <button class="top-nav-btn btn-right" (click)="onValidClicked()"><img src="/assets/Navicon/check.svg" alt="avatar valid"></button>
  </div>
</div>

<app-display-avatar [displayAvatar]="avatarParent"></app-display-avatar>

<div class = "navigationElements">
  <button [ngStyle]="{'visibility':(selectedValue == 'tone') ? 'hidden' : 'visible'}"><img src='assets/images/keyboard_arrow_left-24px.svg' (click)="clickPrevious()" class="arrows-left"></button>
  <div [ngSwitch]="selectedValue">
      <h2 *ngSwitchCase="'tone'" (skinEvent)="onSkinSelect($event)">TONES</h2>
      <h2 *ngSwitchCase="'eyes'" (eyesEvent)="onEyesSelect($event)">EYES</h2>
      <h2 *ngSwitchCase="'mouth'" (mouthEvent)="onMouthSelect($event)">MOUTHS</h2>
      <h2 *ngSwitchCase="'hair'" (hairEvent)="onHairSelect($event)">HAIR</h2>
      <h2 *ngSwitchCase="'eyebrows'" (eyebrowsEvent)="onEyebrowsSelect($event)">EYEBROWS</h2>
      <h2 *ngSwitchCase="'hairiness'" (hairinessEvent)="onHairinessSelect($event)">HAIRINESS</h2>
      <h2 *ngSwitchCase="'clothes'" (clothesEvent)="onClotheSelect($event)">CLOTHES</h2>
      <h2 *ngSwitchCase="'earrings'" (earringsEvent)="onEarringsSelect($event)">EARRINGS</h2>
      <h2 *ngSwitchCase="'necklace'" (necklaceEvent)="onNecklaceSelect($event)">NECKLACES</h2>
      <h2 *ngSwitchCase="'glasses'"  (glassesEvent)="onGlassesSelect($event)">GLASSES</h2>
      <h2 *ngSwitchCase="'hat'" (hatEvent)="onHatSelect($event)">HATS</h2> 
  </div>
  <button [ngStyle]="{'visibility':(selectedValue == 'hat') ? 'hidden' : 'visible'}"><img src='assets/images/keyboard_arrow_right-24px.svg' (click)="clickNext()" class="arrows-right"></button>
</div>

  <div [ngSwitch]="selectedValue">
    <app-skin-gen *ngSwitchCase="'tone'" (skinEvent)="onSkinSelect($event)"></app-skin-gen>
    <app-eyes-gen *ngSwitchCase="'eyes'" (eyesEvent)="onEyesSelect($event)"></app-eyes-gen>
    <app-mouths-gen *ngSwitchCase="'mouth'" (mouthEvent)="onMouthSelect($event)"></app-mouths-gen>
    <app-hair-gen *ngSwitchCase="'hair'" (hairEvent)="onHairSelect($event)"></app-hair-gen>
    <app-eyebrows-gen *ngSwitchCase="'eyebrows'" (eyebrowsEvent)="onEyebrowsSelect($event)"></app-eyebrows-gen>
    <app-hairiness-gen *ngSwitchCase="'hairiness'" (hairinessEvent)="onHairinessSelect($event)"></app-hairiness-gen>
    <app-clothes-gen *ngSwitchCase="'clothes'" (clothesEvent)="onClotheSelect($event)"></app-clothes-gen>
    <app-earrings-gen *ngSwitchCase="'earrings'" (earringsEvent)="onEarringsSelect($event)"></app-earrings-gen>
    <app-necklace-gen *ngSwitchCase="'necklace'" (necklaceEvent)="onNecklaceSelect($event)"></app-necklace-gen>
    <app-glasses-gen *ngSwitchCase="'glasses'"  (glassesEvent)="onGlassesSelect($event)"></app-glasses-gen>
    <app-hat-gen *ngSwitchCase="'hat'" (hatEvent)="onHatSelect($event)"></app-hat-gen> 
  </div>




