.navigationElements{
    display: flex;
	justify-content: space-between;
}

.arrows{
    width: 100px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.10);
}

button{
    border: none;
    background-color: inherit;
    outline: 0;
}

.top-nav {
    width: 302px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
}

.top-nav-btn{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:#e3f2fd;
    border-radius: 15px;
}

.btn-right{
    margin-left: 10px;
}

