.navigationElements{
    display: flex;
	justify-content: space-between;
}

.arrowsleft{
    width: 100px;

}

.arrowsright{
    width: 100px;
}


button:hover{
    cursor: pointer;
    transform: scale(1.10);
}

button{
    border: none;
    background-color: inherit;
    outline: 0;
}
.elements{
    height: 100%;
    overflow-y: scroll;
}