<div class="top-nav">
    <div>
        <button class="top-nav-btn" (click)="onRandomClicked()"><img src="/assets/Navicon/random.svg" alt="avatar random"></button>
    </div>

    <div>
        <button class="top-nav-btn" (click)="onRandomClicked()"><img src="/assets/Navicon/save.svg" alt="avatar save"></button>
        <button class="top-nav-btn btn-right" (click)="onCancelClicked()"><img src="/assets/Navicon/close.svg" alt="avatar cancel"></button>
        <button class="top-nav-btn btn-right" (click)="onRandomClicked()"><img src="/assets/Navicon/check.svg" alt="avatar valid"></button>
    </div>
</div>

<div class="poster">
    <app-display-cards [cardsToDisplay]="displayCards" [avatarToCard]="avatarToDisplay"></app-display-cards>
    <app-cards-list (cardsEvent)="onCardSelected($event)"></app-cards-list>
</div>