.display {
    width: 302px;
    margin-bottom: 15px;
    position: relative;
    margin-top: 5px;
}

.display img {
    width: 100%;
    border: rgb(224, 224, 224) solid 5px;
}

/* @media only screen and (max-width: 460px) {
    .display img {
        width: 400px;
    }
    .display {
        width: 100%;
        height: 240px;
    }
  }

  @media only screen and (max-width: 390px) {
    .display img {
        width: 350px;
    }
    .display {
        width: 360px;
        height: 240px;
    }
  }

  @media only screen and (max-width: 350px) {
    .display img {
        width: 300px;
    }
    .display {
        width: 100%;
        height: 240px;
    }
  } */
