.display {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

img {
    position: absolute;
    width: 450px;
    border: rgb(224, 224, 224) solid 5px;
}

@media only screen and (max-width: 460px) {
    img {
        width: 350px;
    }
    .display {
        width: 100%;
    }
  }
