<div class="display" *ngIf="cardsToDisplay.card">
    <img class="card" [src]="cardsToDisplay.card.url" alt="{{ cardsToDisplay.card.name }}"/>

    <div class="avatar" [style.display]="show">
        <img [src]="avatarOnCard.tone.picture" />
        <img [src]="avatarOnCard.nose.picture" />
        <img [src]="avatarOnCard.eyes.picture" />
        <img [src]="avatarOnCard.mouth.picture" />
        <img [src]="avatarOnCard.hair.picture" />
        <img [src]="avatarOnCard.eyebrows.picture" />
        <img [src]="avatarOnCard.hairiness.picture" />
        <img [src]="avatarOnCard.clothes.picture" />
        <img [src]="avatarOnCard.earrings.picture" />
        <img [src]="avatarOnCard.necklace.picture" />
        <img [src]="avatarOnCard.glasses.picture" />
        <img [src]="avatarOnCard.hat.picture" />
    </div>

    <div [style.backgroundImage]="'url('+ cardsToDisplay.buble.picture +')'" class="buble">
        <div [ngStyle]="{'visibility':(cardsToDisplay.buble.name ==='Delete') ? 'hidden':'visible' }"><p>{{messageBuble}}</p></div>
    </div>
    

</div>





