<div class="display" *ngIf="cardsToDisplay.card">
    <img class="card" [src]="cardsToDisplay.card.url" alt="{{ cardsToDisplay.card.name }}"/>

    <div class="avatar" *ngFor="let elts of avatarToCard">
        <img [src]="elts.tone.picture" />
        <img [src]="elts.eyes.picture" />
        <img [src]="elts.mouth.picture" />
        <img [src]="elts.hair.picture" />
        <img [src]="elts.eyebrows.picture" />
        <img [src]="elts.hairiness.picture" />
        <img [src]="elts.clothes.picture" />
        <img [src]="elts.earrings.picture" />
        <img [src]="elts.necklace.picture" />
        <img [src]="elts.glasses.picture" />
        <img [src]="elts.hat.picture" />
    </div>

    <div [style.backgroundImage]="'url('+ cardsToDisplay.buble.picture +')'" class="buble">
        <div [ngStyle]="{'visibility':(cardsToDisplay.buble.name ==='Delete') ? 'hidden':'visible' }"><p>{{messageBuble}}</p></div>
    </div>
    

</div>





