.display {
    width: 450px;
    margin-bottom: 30px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    height: 258px;
}

.card {
    width: 100%;
    border: rgb(224, 224, 224) solid 5px;
}

.avatar {
    width: 25%;
    position: absolute;
    bottom: 124px;
    left: 50px;
}

.avatar img{
    width: 100%;
    position: absolute;
}

.buble {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 45%;
    background-size: 95%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 6% 5%;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.buble p{
    margin: 0;
}

@media only screen and (max-width: 460px) {
    .card {
        width: 400px;
    }
    .display {
        width: 100%;
        height: 229px;
    }

    .avatar {
        bottom: 111px;
    }

  }

  @media only screen and (max-width: 390px) {
    .card {
        width: 350px;
    }
    .display {
        width: 100%;
        height: 202px;
    }

    .avatar {
        bottom: 99px;
    }
  }

  @media only screen and (max-width: 350px) {
    .display {
        width: 100%;
        height: 202px;
    }

    .avatar {
        bottom: 99px;
    }

  }



