.display {
    width: 302px;
    position: relative;
}

.card {
    width: 100%;
    border: rgb(224, 224, 224) solid 5px;
}

.avatar {
    width: 25%;
    position: absolute;
    bottom: 85px;
    left: 50px;
}

.avatar img{
    width: 100%;
    position: absolute;
}


@media only screen and (max-width: 460px) {
    .card {
        width: 400px;
    }
    .display {
        width: 100%;
        height: 229px;
    }

    .avatar {
        bottom: 111px;
    }

  }

  @media only screen and (max-width: 390px) {
    .card {
        width: 350px;
    }
    .display {
        width: 100%;
        height: 202px;
    }

    .avatar {
        bottom: 99px;
    }
  }

  @media only screen and (max-width: 350px) {
    .display {
        width: 100%;
        height: 202px;
    }

    .avatar {
        bottom: 99px;
    }

  }