.allSelected {
    width: 310px;
    height: 329px;
    background-color:#e3f2fd;
    border-radius: 15px;
    margin: 10px auto;
}

.allSelected img{
    position: absolute;
    width: 310px;
}

.nose{
    z-index: 10;
}