 <div class= "allSelected">
    <div class="selectedSkin">
        <img [src]="displayAvatar.tone.picture" alt="{{displayAvatar.tone.name}}"/>
    </div>

    <div class="selectedEyes" *ngIf="displayAvatar.eyes">
        <img [src]="displayAvatar.eyes.picture" alt="{{displayAvatar.eyes.name}}"/>
    </div>

    <div class="selectedMouth" *ngIf="displayAvatar.mouth">
        <img [src]="displayAvatar.mouth.picture" alt="{{ displayAvatar.mouth.name }}"/>
    </div>

    <div class="selectedHairiness" *ngIf="displayAvatar.hairiness">
        <img [src]="displayAvatar.hairiness.picture" alt="{{displayAvatar.hairiness.name}}"/>
    </div>
    
    <div class="selectedHair" *ngIf="displayAvatar.hair">
        <img [src]="displayAvatar.hair.picture" alt="{{displayAvatar.hair.name}}"/>
    </div>

</div>

    

    
    
