.allSelected {
    width: 302px;
    height: 320px;
    border-radius: 15px;
    margin: 5px auto;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.allSelected img{
    position: absolute;
    width: 302px;

}

.nose{
    z-index: 10;
}

.hair img{
    width: 301px;
}
