.buttonColorBlue{
    background-color: blue;
}

.buttonColorGreen{
    background-color: green;
}

.buttonColorYellow{
    background-color: yellow;
}

.buttonColorPink{
    background-color: rgb(231, 19, 168);
}

.buttonColorRed{
    background-color: red;
}