.buttonColorBlue{
    background-color: rgb(45, 45, 121);
}

.buttonColorGreen{
    background-color: rgb(20, 231, 20);
}

.buttonColorYellow{
    background-color: rgb(219, 219, 0);
}

.buttonColorPink{
    background-color: rgb(231, 19, 168);
}

.buttonColorRed{
    background-color: rgb(190, 20, 20);
}