h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px
}

form {
    margin-top: 45px;
    width: 302px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

section {
    overflow: hidden;
}

#sendto {
    width: 100%;
}

.errorText {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    float: right;
    background-color: white;
    box-shadow: white;
    border: white;
}

button img:hover {
    transform: scale(1.10)
}

textarea {
    width: 100%;
    height: 25vh;
    border: 1px solid rgb(167, 167, 167);
}

input {
    width: 100%;
    border: 1px solid rgb(168, 168, 168);
}
