.hair {
    display: flex;
    flex-wrap: wrap;
    width: 312px;
    margin: 0 auto;
}

.hair img {
    width: 100px;
    margin: 2px;
    cursor: pointer;
    background-color:#e3f2fd;
    border-radius: 15px;
}
.elements{
    height: 100%;
    overflow-y: scroll;
}
