<div class = "buttonColor">
    <button (click)="onColorClickedBlack()" class="buttonColorBlack"></button>
    <button (click)="onColorClickedBlond()" class="buttonColorBlond"></button>
    <button (click)="onColorClickedChestnut()" class="buttonColorChestnut"></button>
    <button (click)="onColorClickedGinger()" class="buttonColorGinger"></button>
    <button (click)="onColorClickedGrey()" class="buttonColorGrey"></button>
</div>

<div class="elements">
    <div *ngFor= "let hair of hairList" class="mini">
        <img [src]="hair.picture" alt="{{ hair.name }}" (click)="onHairClicked(hair)"/>
    </div>

    <div *ngFor= "let hair of hairBlond" class="mini">
        <img [src]="hair.picture" alt="{{ hair.name }}" (click)="onHairClicked(hair)"/>
    </div>

    <div *ngFor= "let hair of hairChestnut" class="mini">
        <img [src]="hair.picture" alt="{{ hair.name }}" (click)="onHairClicked(hair)"/>
    </div>

    <div *ngFor= "let hair of hairGinger" class="mini">
        <img [src]="hair.picture" alt="{{ hair.name }}" (click)="onHairClicked(hair)"/>
    </div>

    <div *ngFor= "let hair of hairGrey" class="mini">
        <img [src]="hair.picture" alt="{{ hair.name }}" (click)="onHairClicked(hair)"/>
    </div>
</div>