.hairiness {
    display: flex;
    flex-wrap: wrap;
    width: 312px;
    margin: 0 auto;
}

.hairiness img {
    width: 94px;
    margin: 5px;
    cursor: pointer;
    background-color:#e3f2fd;
    border-radius: 15px;
    z-index: 10;
}

.mini:hover {
    transform: scale(1.1);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}