h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 40px
}

#creditCard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    
}

.errorText {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.button {
    font-weight: bold;
    float: right;
    margin-top: 10px;
}

button img:hover {
    transform: scale(1.10)
}

textarea {
    width: 40vw;
    height: 25vh;
    border: 1px solid rgb(167, 167, 167);
}

input {
    width: 40vw;
    border: 1px solid rgb(168, 168, 168);
}

.cvc-exp {
    display: flex;
    justify-content: space-between;
}

.cvc-exp input {
    width: 15vw;
}

#exp {
    display: flex;
    flex-direction: column;
}

#cvc {
    display: flex;
    flex-direction: column;
}

#send {
    display: flex;
    justify-content: space-between;
}

h4 {
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

.modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hbutton {
    font-weight: bold;
    color: white;   
}

