.elementsBuble{
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin: 0 auto;
    padding-left: 5px;
}

.formElts{
    position: fixed;
    bottom: 55px;
    width: 400px;
}

form {
    width: 302px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.formElts input{
    width: 85%;
    border-radius: 17px;
    border: none;
    height: 34px;
    padding-left: 5px
}

.formElts button{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background-color:#e3f2fd;
    outline: 0;
}

.formElts button img{
    margin-left: -2px;
}

button img:hover{
    transform: scale(1.10);
}
