/* You can add global styles to this file, and also import other style files */
html {
    background-color: grey;
    height: 100%;
}

body {
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

.mini:hover {
    transform: scale(1.1);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.elements{
    height: 315px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin: 0 auto;
    padding-left: 5px;
}

.mini{
    width: calc(33% - 11px);
    margin: 5px;
    background-color:#e3f2fd;
    border-radius: 15px;
}

.mini img {
    width: 100%;
    cursor: pointer;
}

.buttonColor {
    height: 18px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;

}

.buttonColor button {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: none;
}


@media only screen and (max-height: 812px) {
    .elements{
        height: 330px;
    }

    body {
        width: 100%;
    }
}

@media only screen and (max-height: 740px) {
    .elements{
        height: 245px;
    }

    .mini{
        width: 21.5%;
        overflow: hidden;
        height: 73px;
    }
}

@media only screen and (max-height: 667px) {
    .elements{
        height: 193px;
    }

    .mini{
        width: 16.5%;
        overflow: hidden;
        height: 56px;
    }

}