/* You can add global styles to this file, and also import other style files */
body, html {
    width: 100%;
    height: 100%;
}

.mini:hover {
    transform: scale(1.1);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.elements{
    height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin: 0 auto;
    padding-left: 5px;
}

.mini{
    width: calc(33% - 11px);
    margin: 5px;
    background-color:#e3f2fd;
    border-radius: 15px;
}

.mini img {
    width: 100%;
    cursor: pointer;
}


@media only screen and (max-height: 736px) {
    .elements{
        height: 245px;
    }

    .mini{
        width: 21.5%;
        overflow: hidden;
        height: 73px;
    }

}

@media only screen and (max-height: 667px) {
    .elements{
        height: 30vh;
    }

    .mini{
        width: 16.5%;
        overflow: hidden;
        height: 56px;
    }

}