*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url(/assets/images/bg_home.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud1, .cloud2, .cloud3, .cloud4 {
    position: absolute;
}

.cloud1 {
    top: 10%;
    animation: cloud-move1 60s infinite;
}

@-webkit-keyframes cloud-move1 {
    0%   { right: -30%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120% ; opacity: 0;}
}
@-moz-keyframes cloud-move1 {
    0%   { right: -30%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}
@-o-keyframes cloud-move1 {
    0%   { right: -30%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}
@keyframes cloud-move1 {
    0%   { right: -30%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}

.cloud2 {
    top: 40%;
    animation: cloud-move2 90s ease infinite;
}

@-webkit-keyframes cloud-move2 {
    0%   { right: 30%; opacity: 0; }
    10%   { opacity: 0.8; }
    90%   { opacity: 0.8; }
    100% { right: 120%; opacity: 0; }
}
@-moz-keyframes cloud-move2 {
    0%   { right: 30%; opacity: 0; }
    10%   { opacity: 0.8; }
    90%   { opacity: 0.8; }
    100% { right: 120%; opacity: 0; }
}
@-o-keyframes cloud-move2 {
    0%   { right: 30%; opacity: 0; }
    10%   { opacity: 0.8; }
    90%   { opacity: 0.8; }
    100% { right: 120%; opacity: 0; }
}
@keyframes cloud-move2 {
    0%   { right: 30%; opacity: 0; }
    10%   { opacity: 0.8; }
    90%   { opacity: 0.8; }
    100% { right: 120%; opacity: 0; }
}

.cloud3 {
    top: 70%;
    animation: cloud-move3 60s ease-in infinite;
}

@-webkit-keyframes cloud-move3 {
    0%   { right: 0%; opacity: 0; }
    10%   { opacity: 0.9; }
    90%   { opacity: 0.9; }
    100% { right: 120%; opacity: 0; }
}
@-moz-keyframes cloud-move3 {
    0%   { right: 0%; opacity: 0; }
    10%   { opacity: 0.9; }
    90%   { opacity: 0.9; }
    100% { right: 120%; opacity: 0; }
}
@-o-keyframes cloud-move3 {
    0%   { right: 0%; opacity: 0; }
    10%   { opacity: 0.9; }
    90%   { opacity: 0.9; }
    100% { right: 120%; opacity: 0; }
}
@keyframes cloud-move3 {
    0%   { right: 0%; opacity: 0; }
    10%   { opacity: 0.9; }
    90%   { opacity: 0.9; }
    100% { right: 120%; opacity: 0; }
}

.cloud4 {
    top: 85%;
    animation: cloud-move4 60s ease-in infinite;
}

.cloud4 img{
    width: 1000px;
}

@-webkit-keyframes cloud-move4 {
    0%   { right: -50%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}
@-moz-keyframes cloud-move4 {
    0%   { right: -50%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}
@-o-keyframes cloud-move4 {
    0%   { right: -50%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}
@keyframes cloud-move4 {
    0%   { right: -50%; opacity: 0; }
    10%   { opacity: 1; }
    90%   { opacity: 1; }
    100% { right: 120%; opacity: 0; }
}

.home_btn {
    text-decoration: none;
    color: orange;
}

.display_btn {
    animation: create 4s ease;
}

@-webkit-keyframes create {
    0%   { opacity: 0; }
    75%   { opacity: 0; }
    80%   { opacity: 1; }
}
@-moz-keyframes create {
    0%   { opacity: 0; }
    75%   { opacity: 0; }
    80%   { opacity: 1; }
}
@-o-keyframes create {
    0%   { opacity: 0; }
    75%   { opacity: 0; }
    80%   { opacity: 1; }
}
@keyframes create {
    0%   { opacity: 0; }
    75%   { opacity: 0; }
    80%   { opacity: 1; }
}

header{
    z-index: 10;
    text-align: center;
    animation: title 2s ease;
}

header h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 130px;
    color: white;
}

header h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 53px;
    margin-top: -35px;
    color: white;
}

@-webkit-keyframes title {
    0%   { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    70%  { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    80%  { opacity: 1;}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@-moz-keyframes title {
    0%   { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    70%  { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    80%  { opacity: 1;}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@-o-keyframes title {
    0%   { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    70%  { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    80%  { opacity: 1;}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@keyframes title {
    0%   { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    70%  { -moz-transform: scale(10); -webkit-transform: scale(10); -o-transform: scale(10);-ms-transform: scale(10); transform: scale(10); opacity: 0; }
    80%  { opacity: 1;}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}

.bouing {
    animation: bouing 2s ease infinite;
}

@-webkit-keyframes bouing {
    0% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
    50%  { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);-ms-transform: scale(1.05); transform: scale(1.05);}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@-moz-keyframes bouing {
    0% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
    50%  { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);-ms-transform: scale(1.05); transform: scale(1.05);}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@-o-keyframes bouing {
    0% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
    50%  { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);-ms-transform: scale(1.05); transform: scale(1.05);}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}
@keyframes bouing {
    0% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
    50%  { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);-ms-transform: scale(1.05); transform: scale(1.05);}
    100% { -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1);-ms-transform: scale(1); transform: scale(1); }
}

.square {
    padding: 100px;
    position: absolute;
    z-index: -1;
    top: calc(50% - 100px);
    /* left: calc(50% - 71px); */
    border: 2px solid white;
    background-color: rgb(33, 24, 172);
    -moz-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    -o-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    transform: rotate(37deg);
}